html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-size: cover;
  background-image: url('../assets/bg-01.jpg');
  font-family: 'Ubuntu', sans-serif;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

.expand-list-item {
  position: absolute;
  top: -200px;
  bottom: -200px;
  left: -200px;
  right: -200px;
  background-color: red;
}

.list-item {
  background-color: #e1e1ec;
  background-color: transparent;
  top: unset;
  left: unset;
  z-index: 1;
  cursor: move;
  width: 250px;
  border-radius: 4px;
  border: 2px solid #d9d9e9;
  border: none;
  text-align: center;
  font-size: 28px;
}

.list-item-background {
  background-color: #e1e1ec;
  border: 2px solid #d9d9e9;
  border-radius: 4px;
  width: 250px;
}

.list-item,
#coords,
#title {
  user-select: none;
}

.dragged {
  position: absolute;
  z-index: 2;
  height: 800px;
  width: 12000px;
}

.dragged .list-item-background {
  position: relative;
  top: 400px;
  margin: 0 auto;
  transform: translateY(-50%);
}

.holster-wrapper {
  float: left;
  background-color: #fefefe;
  width: 290px;
  margin-right: 100px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.list-wrapper {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.holster {
  height: 40px;
}

.in-list {
  margin: 40px auto 0 auto;
  transform: translateY(-50%);
}

#coords,
#title {
  height: 48px;
  margin-top: 22px;
}

#coords {
  /* display: inline-block; */
  display: none;
  background-color: #fefefe;
  height: 37.8px;
  line-height: 37.8px;
  padding: 5px;
  margin-left: 100px;
  border-radius: 4px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 24px;
  font-family: 'Georgia', serif;
}

.list-spot {
  background-color: #fefefe;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid #dedede;
  border-bottom: 0;
}

.list-spot:first-of-type {
  border-top: 1px solid #9a9a9a;
}

.list-spot:nth-of-type(5) {
  border-bottom: 1px solid #9a9a9a;
}

.clearfix:after {
  display: block;
  content: ' ';
  clear: both;
}

main {
  min-height: 150vh;
  padding-top: 2em;
  text-align: center;
}

.selector-container {
  display: flex;
  justify-content: center;
}

#submit-prefs {
  margin-bottom: 22px;
}

input:focus {
  outline: none;
}

.completed-pref-forms {
  margin-bottom: 1em;
}

#groupIDVerification {
  width: 50%;
}

thead {
  background-color: grey;
  color: white;
}
