html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-size: cover;
  /* background-color: #081229; */
  background-image: url('../assets/bg-01.jpg');
  font-family: 'Ubuntu', sans-serif;
}

.main-login-container {
  width: fit-content;
  display: flex;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

.select-button {
  width: 200px;
  height: 180px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: #f74d4d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f74d4d),
    color-stop(100%, #f86569)
  );
  background-image: -moz-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f74d4d),
    color-stop(100%, #f86569)
  );
  box-shadow: 0 15px #e24f4f;
}
.select-button:active {
  box-shadow: 0 0 #e24f4f;
  -webkit-transform: translate(0px, 15px);
  -moz-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  -o-transform: translate(0px, 15px);
  -webkit-transition: 0.1s all ease-out;
  -moz-transition: 0.1s all ease-out;
  -ms-transition: 0.1s all ease-out;
  -o-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
}

.expand-list-item {
  position: absolute;
  top: -200px;
  bottom: -200px;
  left: -200px;
  right: -200px;
  background-color: red;
}

.list-item {
  background-color: #e1e1ec;
  background-color: transparent;
  top: unset;
  left: unset;
  z-index: 1;
  cursor: move;
  width: 250px;
  border-radius: 4px;
  border: 2px solid #d9d9e9;
  border: none;
  text-align: center;
  font-size: 28px;
}

.list-item-background {
  background-color: #e1e1ec;
  border: 2px solid #d9d9e9;
  border-radius: 4px;
  width: 250px;
}

.list-item,
#coords,
#title {
  user-select: none;
}

.dragged {
  position: absolute;
  z-index: 2;
  height: 800px;
  width: 12000px;
}

.dragged .list-item-background {
  position: relative;
  top: 400px;
  margin: 0 auto;
  transform: translateY(-50%);
}

.holster-wrapper {
  float: left;
  background-color: #fefefe;
  width: 290px;
  margin-right: 100px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.list-wrapper {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.holster {
  height: 40px;
}

.in-list {
  margin: 40px auto 0 auto;
  transform: translateY(-50%);
}

#coords,
#title {
  height: 48px;
  margin-top: 22px;
}

#coords {
  /* display: inline-block; */
  display: none;
  background-color: #fefefe;
  height: 37.8px;
  line-height: 37.8px;
  padding: 5px;
  margin-left: 100px;
  border-radius: 4px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 24px;
  font-family: 'Georgia', serif;
}

.list-spot {
  background-color: #fefefe;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid #dedede;
  border-bottom: 0;
}

.list-spot:first-of-type {
  border-top: 1px solid #9a9a9a;
}

.list-spot:nth-of-type(5) {
  border-bottom: 1px solid #9a9a9a;
}

.clearfix:after {
  display: block;
  content: ' ';
  clear: both;
}

main {
  min-height: 150vh;
  padding-top: 2em;
  text-align: center;
}

.selector-container {
  display: flex;
  justify-content: center;
}

#submit-prefs {
  margin-bottom: 22px;
}

.hide {
  visibility: hidden;
}

input:focus {
  outline: none;
}

.main-app-container,
.admin-login,
.admin-dashboard,
.user-landing {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(238, 229, 229, 0.6);
  width: 700px;
  border-radius: 10px;
  padding-bottom: 15px;
}

.main-app-container {
  height: 200px;
}

.admin-login {
  height: 370px;
}

.role-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.role-btn-container button {
  width: 155px;
}

.admin-dashboard {
  height: fit-content;
  min-height: 300px;
}

.username,
.password,
#personName,
#groupName,
#groupIDForm {
  color: rgb(38, 38, 38);
  border-radius: 8px;
  padding: 9px 0px 7px 8px;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  border: rgb(219, 219, 219) solid 1px;
  width: 100%;
}

.username,
.password {
  width: 265px;
  height: 37px;
}

#personName,
#groupName,
#groupIDForm {
  height: 27px;
  margin-bottom: 1.3em;
}

.login-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 7px;
  border-radius: 8px;
  color: black;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.invalid {
  background-color: rgb(240, 200, 250);
}

.valid {
  background-color: rgb(102, 10, 105);
  cursor: pointer;
  color: white;
}

.results,
.group-status-container,
.group-verified-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submit-group-btn,
.group-verified-msg,
#nameSelector {
  margin-top: 12px;
}

ul {
  padding: 0;
}

.completed-pref-forms {
  margin-bottom: 1em;
}

button {
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  background-color: rgba(238, 229, 229, 0.465);
  cursor: pointer;
  color: black;
  text-align: center;
  transition: all 0.15s;
}

button:hover {
  background-color: rgb(102, 10, 105);
  border-color: #ffffff;
  color: white;
}

select {
  margin-bottom: 1em;
  padding: 0.25em;
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 0;
  font-family: 'Ubuntu', sans-serif;
}

select:focus,
select:active {
  outline: 0;
}

#groupIDVerification {
  width: 50%;
}

.group-creator-container {
  display: flex;
  flex-direction: column;
}

thead {
  background-color: grey;
  color: white;
}
